@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Bebas+Neue&display=swap');

body {
  background-color: black;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

h1, h2, h3, p, label, a {
  color: whitesmoke;
}

.topbar {
  background-color: black;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(50, 50, 50);
  justify-content: space-between;
}

.toptab {
  margin-left: 5px;
  height: 60px;
  padding-right: 5px;
  padding-left: 5px;
  border-left: 1px solid rgb(50, 50, 50);
  border-right: 1px solid rgb(50, 50, 50);
}

.topbar > h1 {
  line-height: 69px;
  padding-left: 0px;
  border-left: 0px solid rgb(50, 50, 50);
}

.smol {
  font-size: 16px;
}

.smth {
  line-height: 67px;
}

.actualcontent {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.icon {
  image-rendering: crisp-edges;
  height: 64px;
}
