@font-face {
    font-family: "Perfect DOS VGA 437";
    src: url("/res/Perfect\ DOS\ VGA\ 437.ttf");
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 10%;
}

body * {
    font-family: "Perfect DOS VGA 437", monospace;
    color: #999;
}

a:hover {
    color: #ccc;
}