@keyframes imgMove {
    0% {transform: none}
    100% {transform: translateX(-180px) perspective(500px) rotate3d(0, 1, 0, 20deg)}
}

@keyframes textMove {
    0% {transform: none}
    20% {opacity: 0}
    100% {transform: translateX(180px) /*perspective(500px) rotate3d(0, 1, 0, -15deg)*/; opacity: 1; max-width: 450px}
}

.overview {
    height: 100%;
    position: relative;
    display: flex;
    padding-left: 10%;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.overview img {
    width: 250px;
    height: 250px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    animation: imgMove 0.7s ease-in-out 0.1s forwards 1;
}

.overview .hflex {
    height: 250px;
    max-width: 700px;
    position: relative;
}

.overview .vflex {
    /*transform: perspective(500px) rotate3d(0, 1, 0, 0deg);*/
    opacity: 0;
    animation: textMove 0.7s ease-in-out 0.1s forwards 1;
}

/* center properly and add mobile support */
/*Does anyone use their phone horizontally?
If so you could just re use 90% of the og code*/
/*all that happens is it just divides by 2 on all values*/
/*Also add support for amazon kindles*/
@media only screen and (max-width: 800px) and (orientation: portrait) {
    /*Redo all animations with movement*/
    @keyframes imgMove {
        0% {transform: none}
        100% {transform: translateX(calc(-180px/2)) perspective(500px) rotate3d(0, 1, 0, 20deg)}
    }
    @keyframes textMove {
        0% {transform: none}
        20% {opacity: 0}
        100% {transform: translateX(calc(180px/2)) /*perspective(500px) rotate3d(0, 1, 0, -15deg)*/; opacity: 1; max-width: 450px}
    }
    /*Do things to main elements*/
    .overview .hflex {
        height: calc(250px/2);
        width: calc(100%/2);
        max-width: 700px;
        position: relative;
    }
    .overview img {
        width: calc(250px/2);
        height: calc(250px/2);
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        animation: imgMove 0.7s ease-in-out 0.1s forwards 1;
    }
    div.vflex p{
        width: 200px;
        font-size: 12px;
    }

}
/*Added support for landscape for no good reason*/
@media only screen and (max-width: 800px) and (orientation: landscape) {
    @keyframes imgMove {
        0% {transform: none}
        100% {transform: translateX(calc(-180px/1.5)) perspective(500px) rotate3d(0, 1, 0, 20deg)}
    }
    @keyframes textMove {
        0% {transform: none}
        20% {opacity: 0}
        100% {transform: translateX(calc(180px/1.5)) /*perspective(500px) rotate3d(0, 1, 0, -15deg)*/; opacity: 1; max-width: 450px}
    }
    /*Do things to main elements*/
    .overview .hflex {
        height: calc(250px/1.5);
        width: calc(100%/1.5);
        max-width: 700px;
        position: relative;
    }
    .overview img {
        width: calc(250px/1.5);
        height: calc(250px/1.5);
        z-index: 1;
        border-radius: 50%;
        position: absolute;
        animation: imgMove 0.7s ease-in-out 0.1s forwards 1;
    }
    div.vflex p{
        transform: translateY(-20px)
        width: 200px;
        font-size: 12px;
    }

}
}