/*@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Bebas+Neue&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
  background-color: black;
  /*background-image: linear-gradient(0, #20355dff, #0e1a31ff);*/
  background-image: url("res/darknight.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.actualcontent, .secondarycontent, .newsitem, #jumpselect {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
}

.actualcontent > h2 {
  font-weight: 300;
  margin-top: 60px;
}

h1, h2, h3, p, label, a, #topbar a, footer, div, span, #jumpselect {
  color: white;
  text-shadow: black 1px 1px 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: deepskyblue;
  transition: 0.3s;
}

a:visited {
  color: #6480ed;
}

a:hover {
  text-decoration: underline;
}

#topbar {
  background-image: radial-gradient(farthest-corner at -150px -10px, #ffffff15 0%, #00000000 100%);
  font-family: "Noto Sans JP", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  height: 50px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5), inset 0 -1px 0 0 #bbccff3f;
  border-bottom: 1px solid #222;
  animation-name: bardown;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.22,.61,.36,1);
  user-select: none;
}

#topbar * {
  position: relative;
  animation-name: baritemsdown;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.22,.61,.36,1);
  box-sizing: border-box;
  align-self: center;
}

@keyframes bardown {
  0% {height:0px}
  100% {height:50px}
}

@keyframes baritemsdown {
  0% {top:-25px}
  100% {top:0px}
}

.toptab {
  padding: 5px 10px;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  min-width: 90px;
  height: 100%;
}

.toptab:hover {
  background-color: #ffffff1f;
}

.toptab h1 {
  padding-left: 5px;
  align-self: center;
  font-weight: lighter;
}

.actualcontent {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.icon {
  image-rendering: crisp-edges;
  height: 32px;
  filter: contrast(0%) brightness(200%) drop-shadow(0 0 3px #000);
  transform: translateY(2px);
}

.secondarycontent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.8) inset;
  color: white;
}

.left {
  align-self: flex-start;
  text-align: left;
}

.newsitem {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  font-size: 25px;
}

.newsitem > h3 {
  font-weight: 300;
  font-size: 35px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsSettings {
  width: 90%;
  justify-content: right;
  margin-bottom: 20px;
}

#jumper {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.newsSettings > span:nth-child(1) {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5), 1px 0 #000,0 1px #000,1px 1px #000,inset 1px 1px #bbccff5f;
  border: 1px solid #222;
  border-radius: 4px;
  transition: 0.2s;
  background-image: radial-gradient(farthest-corner at -50px 1px, #ffffff26 0%, #00000000 100%);
  font-size: 20px;
}

.flexrow > span:nth-child(1):hover {
  background-color: #ffffff14;
}

#jumpselect {
  background-color: transparent;
  border: none;
  height: 62px;
  font-size: 20px;
  padding: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("res/dropdown.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 112px 25px;
}

.projects:after {
	content: url("res/dropdown.svg");
	display: block;
	width: 18px;
	transform: scale(0.3) translateX(-10px);
	filter: drop-shadow(0 0 5px #000);
  position: relative;
  animation-name: baritemsdown;
  animation-fill-mode: both;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(.22,.61,.36,1);
}

.projectsdropdown {
 	display: none;
  position: absolute !important;
  flex-direction: column;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5), 1px 0 #000,0 1px #000,1px 1px #000,inset 1px 1px #bbccff5f;
  border: 1px solid #222;
  border-radius: 4px;
  transition: 0.2s;
  background-image: radial-gradient(farthest-corner at -50px 1px, #ffffff26 0%, #00000000 100%);
 	transform: translateY(49px);
 	background-color: #000000c1;
  animation-name: dropdown !important;
}

.projectsdropdown a {
  padding: 5px 30px;
  width: 100%;
  text-align: center;
  animation-name: none !important;
  transition: background-color 0.15s
}

.projectsdropdown a:hover {
  background-color: #ffffff14
}

.projects:hover .projectsdropdown {
  display: flex;
}

@keyframes dropdown {
  0% {opacity:0;top:-25px}
  100% {opacity:1;top:0px}
}